<!DOCTYPE html>

<html>

	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
	    <title>Basketball Tweets Search Engine</title>
	</head>

	<body>
		<div class="container-fluid" style = "padding-top : 25px">
			<ul class="nav nav-pills nav-justified">
				<li role="presentation" class="active"><a href="#">Home</a></li>
				<li role="presentation"><a href="#">Profile</a></li>
				<li role="presentation"><a href="#">Messages</a></li>
			</ul>
		</div>

	    <div class="container center" style="padding : 25px; width : 70%">
	    	<h1 class="text-center">Basketball Tweets Search Engine</h1>
	        <div class="row" style="margin-top: 25px">
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Search...">
					<div class="input-group-append">
						<button class="btn btn-primary" type="button">Search</button>
					</div>
				</div>
	        </div>
	    </div>

		<div class="container" style="width : 70%">
	        <ul class="list-group">
	            <li class="list-group-item">
	                <div class="row">
	                    <div class="col-xs-10 col-md-11">
	                        <div>
	                            <div class="mic-info">
	                                <a href="#" style="font-size : 1.15em">Bhaumik Patel</a>&nbsp | &nbsp
	                                <span style="font-size : 1.15em">2 Aug 2013</span>
	                            </div>
	                        </div>
	                        <p style="font-size : 1.5em">
	                            Awesome design
	                        </p>
	                    </div>
	                </div>
	            </li>
	        </ul>
	    </div>

		<script src="static/js/jquery-3.4.1.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
        <script>$('.btn-primary').click(function(){
											$.ajax({
												type : 'GET',
												url : '/ajax',
												data : {'query': $('input').val()},
												success : (dataSet) => populateList(dataSet)
											})
										})
        		var listItemGenerator = function(key, data) {
        			console.log(data);
        			htmlContent = `
		        		<li class="list-group-item">
			                <div class="row">
			                    <div class="col-xs-10 col-md-11">
			                        <div>
			                            <div class="mic-info">
			                                <a href="#" style="font-size : 1.15em">${data.UserHandle}</a>&nbsp | &nbsp
			                                <span style="font-size : 1.15em">${data.Date}</span>
			                            </div>
			                        </div>
			                        <p style="font-size : 1.5em">
			                            ${data.TweetText}
			                        </p>
			                    </div>
			                </div>
			            </li>
			        `;

			        return htmlContent;
			    }

			    var populateList = function (dataSet) {
			    	$(".list-group").empty();

			    	if (Object.keys(dataSet).length == 0)
			    		$(".list-group").append('<h1 class="text-center">No Results Found</h1>');
			    	else
				     	for(let key in dataSet)
				     		$(".list-group").append(listItemGenerator(key, dataSet[key]));
			     }

        		

        </script>
	</body>
</html>